.liuj {
  position: relative;
  width: 0;
  height: 0;
  border-top: 170px solid cyan;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}
.liuj:after {
  position: absolute;
  width: 0;
  height: 0;
  top: -125px;
  left: -100px;
  border-bottom: 100px solid cyan;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  content: "";
}
