//color:
@blue:#1d7ad9;
@nav-gray:#f9f9f9;
@title-gray:#f3f3f3;
@button-color:#e15053;
@content-color:#fbfcff;
@progress-color:#cccccc;
@progress-active-color:#ff7f02;
//font-size:
@small-size:1.4rem;
@normal-size:1.6rem;
@big-size:1.8rem;
@title-size:2.2rem;

//progress-bar-component
@progress-bar-width:16rem;
@progress-bar-height:0.5rem;
@progress-circle-radius:2.4rem;


//component
.block-center-align{
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.abs-ver-align{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.abs-hzt-align{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rel-ver-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clear-format{
  border:0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html{
  font-size:62.5%;
}

header{
  background-color: @blue;
}

.header-wrap{
  .space-between;
  .block-center-align;
  color: white;
  font-size: @normal-size;
  .login{
    .clear-format;
    padding: 1rem 2rem;
    background-color: @blue;
  }

  .register{
    .clear-format;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
  }
}


.collapse{
  .block-center-align;
  background-color: @nav-gray;
}

.navbar-nav{

  float: right;

  a{
    margin: 2.8rem;
    border-radius: 0.5rem;
    color: black!important;
    font-size: @normal-size;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(57, 57, 57);
    &:hover{
      background-color: @blue!important;
      color: white!important;
    }
  }
}


.my-progress-body{
  .block-center-align;
  display: flex;
  justify-content: flex-end;
}


.my-progress-wrap{
  float: left;
  text-align: center;
}

.my-progress-bar{
  position: relative;
  width: @progress-bar-width;
  height: @progress-bar-height;
  border-radius: 0.25rem;
  background-color: @progress-color;
  color: white;
  font-size: @normal-size;
  text-align: center;
  &::before{
    content: "";
    .abs-ver-align;
    left: @progress-bar-width / 2 - @progress-circle-radius / 2;
    width: @progress-circle-radius;
    height: @progress-circle-radius;
    border-radius: 50%;
    background-color: @progress-color;
  }
  &:hover{
    background-color: @progress-active-color;
    &::before{
      background-color: @progress-active-color;
    }
  }
  &:hover+span{
    color: @progress-active-color;
  }

  span{
    position: relative;
    left: 0px;
    bottom: 8px;
    font-size: @normal-size;
  }
}

.progress-text{
  display: inline-block;
  margin: 3rem 0;
  font-size: @normal-size;
  color: @progress-color;
}

.step-title{
  .block-center-align;
  border-left: 4px solid @blue;
  font-size: @big-size;
}
section.step{
  .block-center-align;

  .row-title{
    padding: 1.5rem;
    background-color: @title-gray;
  }
  .group{
    padding: 3.6rem 0;
    font-size: @normal-size;
  }
}












[type="number"]{
  width: 7rem;
  height: 3rem;
  outline: none;
  &::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    appearance: none;
    -webkit-appearance: none;
  }
}