.block-center-align {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.abs-ver-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.abs-hzt-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rel-ver-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clear-format {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html {
  font-size: 62.5%;
}
header {
  background-color: #1d7ad9;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  color: white;
  font-size: 1.6rem;
}
.header-wrap .login {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 2rem;
  background-color: #1d7ad9;
}
.header-wrap .register {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
}
.collapse {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.navbar-nav {
  float: right;
}
.navbar-nav a {
  margin: 2.8rem;
  border-radius: 0.5rem;
  color: black!important;
  font-size: 1.6rem;
  background-color: white;
  box-shadow: 2px 2px 5px #393939;
}
.navbar-nav a:hover {
  background-color: #1d7ad9 !important;
  color: white!important;
}
.my-progress-body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.my-progress-wrap {
  float: left;
  text-align: center;
}
.my-progress-bar {
  position: relative;
  width: 16rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #cccccc;
  color: white;
  font-size: 1.6rem;
  text-align: center;
}
.my-progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6.8rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #cccccc;
}
.my-progress-bar:hover {
  background-color: #ff7f02;
}
.my-progress-bar:hover::before {
  background-color: #ff7f02;
}
.my-progress-bar:hover + span {
  color: #ff7f02;
}
.my-progress-bar span {
  position: relative;
  left: 0px;
  bottom: 8px;
  font-size: 1.6rem;
}
.progress-text {
  display: inline-block;
  margin: 3rem 0;
  font-size: 1.6rem;
  color: #cccccc;
}
.step-title {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  border-left: 4px solid #1d7ad9;
  font-size: 1.8rem;
}
section.step {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
section.step .row-title {
  padding: 1.5rem;
  background-color: #f3f3f3;
}
section.step .group {
  padding: 3.6rem 0;
  font-size: 1.6rem;
}
[type="number"] {
  width: 7rem;
  height: 3rem;
  outline: none;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"] ::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
