body{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
  font-family: SimHei;
  font-size:100%;
}
.row{
  margin:0;
}
.inline-block{
	display: inline-block;
}
.title{
  position: fixed;
  top: 0%;
  z-index: 10;
  width: 100%;
	height: 8.8em;
  background-color:#5fc0cd;
}
.switch-label{
	display: inline-block;
	height: 7em;
	width: 28.6em;
	border-radius: 1em;
	background-color: #55a8b3;
}
.vertical-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.label-1{
	display: inline-block;
	float: left;
	width: 50%;
	font-size: 3.4em;
	color: white;
}
.label-2{
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 10px;
	font-size: 3.4em;
	color: #5fc0cd;
	background-color: white;
}
.location-img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 3em;
}
.select-text{
	display: inline-block;
	font-size: 2.8em;
	color: 	#afbac0;
}
.caret{
	position: absolute;
	right: 0;
	top: 50%;
  color:#afbac0;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 8px dashed;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;

}


div.row div.col-xs-4{
	position: relative;
	margin: 10px 0;

}
.h-line{
	height: 10px;
	background-color: #afbac0;
}
.item{
    padding: 3em 1em;
    border-bottom: 1px solid #afbac0;

}
.sprite{
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    background-image: url(./task6-assets/sprite.png);
    background-repeat: no-repeat;
}
.sprite-1{
    background-position: 0 0;
    vertical-align: middle;
}
.sprite-2{
  background-position: 0 -95px;
  vertical-align: middle;
}
.item-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.8em;
    color: #afbac0;
    vertical-align: middle;
}
.date-text{
    position: relative;
    left: 50px;
    margin: 10px 0;
    font-size: 3em;
    font-weight: bold;
    font-family: SimHei;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.red-text{
    font-size: 3em;
    font-weight: bold;
    color: #e63b0e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.arrow-right{
    display: inline-block;
    width: 19px;
    height: 33px;
}
.home-text{
  font-size: 2em;
  color: #5fc0cd;
}
.me-text{
  font-size: 2em;
  color: #afbac0;
}
.circle{
  position: relative;
  display: inline-block;
  width: 9.4em;
  height: 9.4em;
  border-radius: 4.7em;
  background-color: #5fc0cd;
}
.footer{
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  height: 12em;
  background-color:#f8fafb;

}
.write{
  position: relative;
  top: 48%;
  transform: translateY(-50%);
}
.vertical-align{
  vertical-align: middle;
}
.btn{
  padding: 0;
  border: 0;
  width: 100%;
}
.dropdown-menu{
  width: 100%;
}
.droplist{
  position: fixed;
  top: 8.8em;
  z-index: 10;
  width: 100%;
  height: 6em;
  border-bottom: 1px solid #afbac0;
  background-color: white;
}
.header{
  position: absolute;
  top: 0;
  height: 14.8em;
}
.main-body{
  position: absolute;
  top: 14.8em;
  bottom:12em;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}
.dropdown-menu{
  font-size: 2em;
}