
<div class="condition">
  <form action="">
    <div class="row">
      <div class="col-sm-1 text-center">
        发布时间
      </div>
      <div class="col-sm-3 text-center">
        <input type="date" class="form-control">
      </div>
      <div class="col-sm-1 text-center">
        ——
      </div>
      <div class="col-sm-3 text-center">
        <input type="date" class="form-control">
      </div>
      <div class="col-sm-1 text-center">
        类型
      </div>
      <div class="col-sm-3 text-center">
        <select name="" id="" class="form-control">
          <option value="" *ngFor="let item of category">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 text-center">
        状态
      </div>
      <div class="col-sm-3 text-center">
        <select name="" class="form-control">
          <option value="" *ngFor="let item of status">{{item}}</option>
        </select>
      </div>
    </div>
  </form>
  <div style="text-align: right">
    <button type="button" class="btn btn-danger">清空</button>
    <button type="button" class="btn btn-success">搜索</button>
  </div>
</div>

<div class="table">
  <div class="result-title">
    <span>Article列表</span>
    <button type="button" class="btn btn-primary">新增</button>
  </div>
  <div class="table-header">
    <span>ID</span>
    <span>名称</span>
    <span>类型</span>
    <span>发布时间</span>
    <span>修改时间</span>
    <span>发布者</span>
    <span>状态</span>
    <span>操作</span>
  </div>

</div>
