html {
  font-size: 62.5%;
  letter-spacing: 1px;
  font-family: SimHei;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

.outer-link img {
  margin: 0 10px;
}
.hot-line {
  color: #29b078;
}

.navbar {
  background-color: #29b078;
  margin: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.nav-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.cell {
  display: inline-block;
  padding: 0 3.4rem;
  cursor: pointer;
}

.cell:hover {
  border-bottom: 4px solid white;
}



.outer-link img {
  cursor: pointer;
  vertical-align: middle;
}

.header-text {
  font-size: 1.4rem;
  color: #29b078;
  vertical-align: middle;
}

.logo img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10px;
}

.sub-nav {
  padding: 2rem 0;
  border-bottom: 1px solid #d0d6d9;
}

.direction {
  padding: 2rem 0;
  border-bottom: 1px solid #edf1f2;
}

.sub-title {
  padding: 2rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #d0d6d9;
}

.head-box img {
  float: left;
  margin: 0 1rem;
}

.clear-float {
  clear: both;
}

table {
  width: 100%;
}

td {
  border: 1px solid #999;
  padding: 1rem;
  font-size: 1.4rem;
  color: #999999;
}

.shadow {
  position: relative;
  box-shadow: 0 0 18px rgba(32, 32, 32, 0.6);
}

.table {
  margin: 1rem 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.intro-title {
  font-size: 1.6rem;
}

.intro-content {
  font-size: 1.4rem;
  text-align: justify;
  padding: 1rem 1rem 0 0;
}

.head-box {
  padding: 1rem 0;
}

.hover-title,
.hover-text {
  text-align: center;
  padding: 1rem 0;
}

.hover-text {
  text-align: justify;
}

.hover-display {
  position: absolute;
  top: 15px;
  z-index: 10;
  height: 92%;
  width: 95%;
  padding: 5rem;
  background-color: rgba(32, 32, 32, 0.8);
  color: white;
  visibility: hidden;
}

.shadow:hover+.hover-display {
  visibility: visible;
}

.hover-display:hover {
  visibility: visible;
}
/*
a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.4rem;
  color: black;
}
*/

a:hover {
  background-color: #29b078;
  color: white;
  text-decoration: none;
}

.divide-wrap,
.learning-number {
  padding: 1rem;
  border-bottom: 1px solid #999;
  font-size: 1.4rem;
  color: #999999;
}

.prompt {
  padding: 1rem;
  font-size: 1.4rem;
  color: #999999;
}

.no-border-right {
  border-right: 0;
}

.border-top {
  border-top: 1px solid #999;
}

.divide-6,
.divide-3,
.divide-9 {
  display: inline-block;
}

.divide-6 {
  width: 49%;
}

.divide-3 {
  width: 34%;
}

.divide-9 {
  width: 64%;
}

.col-md-4 {
  padding: 15px;
}

.row {
  margin: 0;
}

footer {
  position: relative;
  background-color: #29b078;
  height: 15rem;
}

.footer-col,.footer-col a {
  color: white;
  margin: 1rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.barcode {
  color: white;
}
.copyright{
  font-size: 1.2rem;
  color: white;
  background-color: #29b078;
}

@media screen and (min-width:768px){
  /*nav CSS start*/
  .navbar-collapse {
    padding-right: 85px;
    padding-left: 85px;
  }
  .navbar-nav>li>a {
    padding: 50px;
  }
  .navbar-nav>li>a:hover {
    border-bottom: 4px solid white;
  }
  .nav {
    float: right;
  }
  .header {
    padding: 10px 100px;
  }
  .jnshu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
    height: auto;
  }
  .jnshu img {
    width: 100%;
    height: 100%;
  }
  .jnshu-hidden {
    display: none;
  }
  .outer-link {
    float: right;
  }
  /*nav CSS end*/
  .barcode{
    background-color: #29b078;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .footer-col{
    display: inline-block;
    width: 30rem;
    margin: 1rem 0;
  }
  .footer-col a{
    margin: ;
  }
  span.outer-link {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  /*nav CSS start*/
  span.hot-line,
  span.outer-link {
    display: block;
    text-align: center;
    margin: 10px;
  }
  .header {
    padding: 0 10px;
  }
  .nav li:hover {
    color: #29b078;
    background-color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #29b078;
  }
  .jnshu {
    display: none;
  }
  .jnshu-hidden {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 5rem;
    height: auto;
  }
  .jnshu-hidden img {
    width: 100%;
    height: 100%;
  }
  /*nav CSS end*/
  .direction a{
    display: block;
    text-align: center;
  }
  .barcode {
    display: block;
    padding: 2rem;
    background-color: #29b078;
  }
  .footer-col {
    float: left;
    width: 50%;
  }

  span.outer-link {
    display: block;
    text-align: center;
    margin: 10px;
  }
}
