html{
  font-size: 62.5%;
}
.body{
  background-color: #29b078;
}

.hot-line {
  color: #29b078;
}
.navbar {
  background-color: #29b078;
  margin: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.banner{
  width: 100%;
  height: auto;
}
.banner img{
  width: 100%;
  height: 100%;
}

.outer-link img {
  margin: 0 10px;
}

footer {
  position: relative;
  background-color: #29b078;
  height: 15rem;
}
footer .container {
  margin-bottom: 0;
}

.footer-col,
.footer-col a {
  color: white;
  margin: 1rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.barcode {
  color: white;
}
.copyright{
  font-size: 1.2rem;
  color: white;
  background-color: #29b078;
}
.nav-aside{
  border: 1px solid #e6e6e6;
  margin-right: 2em;
  background-color: white;

}
ul{
  padding-left: 11rem;
}

li{
  list-style-type: none;
}
.circle{
  display: inline-block;
  height: 8px;
  width: 8px;
  border:1px solid #f1a750;
  border-radius: 50%;

}

@media screen and (min-width:768px){
  /*nav CSS start*/
  .navbar-collapse {
    padding-right: 85px;
    padding-left: 85px;
  }
  .navbar-nav>li>a {
    padding: 50px;
  }
  .navbar-nav>li>a:hover {
    border-bottom: 4px solid white;
  }
  .nav {
    float: right;
  }
  .header {
    padding: 10px 100px;
  }

  .jnshu{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 12rem;
    height: auto;
  }
  .jnshu img{
    width: 100%;
    height: 100%;
  }
  .jnshu-hidden{
    display: none;
  }
  .outer-link {
    float: right;
  }
  /*nav CSS end*/

  .nav-aside{
    width: 30rem;
    float: left;
  }
  section{
    overflow: hidden;
    border: 1px solid #e6e6e6;
    background-color: white;
  }
  .intro{
    width: 18rem;
    height: auto;
    float: left;

  }
  .intro img{
    width: 100%;
    height: 100%;
  }
  .footer-col {
    display: inline-block;
    width: 30rem;
  }
  .barcode {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    color: white;
  }
}

@media screen and (max-width:768px) {
  /*nav CSS start*/
  span.hot-line,
  span.outer-link {
    display: block;
    text-align: center;
    margin: 10px;
  }
  .header {
    padding: 0 10px;
  }
  .nav li:hover{
    color: #29b078;
    background-color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #29b078;
  }
  .jnshu{
    display: none;
  }
  .jnshu-hidden{
    position: absolute;
    top:15px;
    left: 15px;
    width: 5rem;
    height: auto;
  }
  .jnshu-hidden img{
    width: 100%;
    height: 100%;
  }

  /*nav CSS end*/
  .footer-col {
    float: left;
    width: 50%;
  }
  .barcode {
    display: block;
    padding: 2rem;
    background-color: #29b078;
  }
}