html {
  font-size: 62.5%;
  max-width: 120rem;
  letter-spacing: 1px;
  white-space: wrap;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

header {
  position: relative;
  display: block;
  height: 4rem;
  line-height: 4rem;
  max-width: 120rem;
  margin: 0 auto;
  background-color: white;
}
header img {
  margin: 0 1rem;
}
.header-text {
  font-size: 1.4rem;
  color: #29b078;
  vertical-align: middle;
}

nav {
  height: 10rem;
  line-height: 10rem;
  background-color: #29b078;
  font-size: 1.6rem;
  color: white;
}

.nav-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.cell {
  display: inline-block;
  padding: 0 3.4rem;
  cursor: pointer;
}

.cell:hover {
  border-bottom: 4px solid white;
}
.outer-link {
  position: absolute;
  display: inline-block;
  right: 0;
}
.outer-link img{
  vertical-align: middle;
  cursor: pointer;
}
.banner{
  width: 100%;
  background-image: url(./task8-2-assets/banner.png);
  background-size: cover;
}
.main-body{
  text-align: center;
}
.middle-box{
  text-align: justify;
  display: inline-block;
  width: 100%;
  max-width: 120rem;
}
.sub-nav{
  margin: 3rem 0;
  font-size: 1.6rem;
}
.sub-nav a{
  color: #29b078;
}
a:hover{
  text-decoration: underline;
}
aside{
  float: left;
  width: 30rem;
  margin-right: 3rem;
}
section{
  overflow: hidden;
  height: 110rem;
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.6);
}
.section-box{
  margin-right: 500px;
}
aside{
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.6);
}
.aside-title{
  border:1px solid #e6e6e6;
}
.circle{
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #ff650e;
  background-color: #fff;
}
ul{
  text-align: justify;
  padding: 0 0 0 11rem;
}
li{
  margin: 4rem 0;
  font-size: 1.4rem;
  color: #29b078;
  list-style-type: none;
  cursor: pointer;
}
li:hover .circle{
  background-color: #f9a372;
}
li:hover{
  color: #ff650e;
}
.aside-title{
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem 0;
}
.intro-box{
  height: 15rem;
  padding: 3rem 6rem 0 6rem;
  border-bottom: 1px solid #a0a0a0;
}
.logo-box{
  display: inline-block;
  height: 100%;
  line-height: 15rem;
  width:24rem;
  text-align: center;
  float: left;
}
.intro{
  overflow: hidden;
}
article{
  font-size: 1.4rem;
  color: #a0a0a0;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-indent: 2em;
}
.detail-intro{
  padding: 0 6rem;
}
footer {
  position: relative;
  background-color: #29b078;
  text-align: center;
}

footer a {
  display: inline-block;
  font-size: 1.6rem;
  color: white;
}

.footer-box {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 120rem;
  padding: 0 15px;
}

.footer-col-1 {
  display: inline-block;
  width: 36rem;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
}

.footer-col-2 {
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
}

.copyright {
  position: relative;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 1.2rem;
  color: white;
}

.barcode {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  color: white;
}
.blank{
  height: 23rem;
  width: 100%;
}