html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
header::after {
  display: block;
  clear: both;
  content: "";
}
header .title {
  float: left;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  font-size: 2rem;
  background-color: #ff9b3d;
  text-align: center;
  box-sizing: border-box;
}
header ul {
  float: right;
  padding: 0;
  margin: 0;
}
header ul li {
  float: left;
  margin: 5px;
  font-size: 1.5rem;
  list-style-type: none;
}
aside {
  float: left;
  width: 100%;
  max-width: 250px;
  background-color: #ff9b3d;
}
main {
  float: left;
  overflow: hidden;
  font-size: 3rem;
}
