/* You can add global styles to this file, and also import other style files */
html{
  font-size: 62.5%;
}

body{
  margin: 0;
  height: 100vh;
}
.result-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ededed;
  background-color: #f3f3f3;
  font-weight: bold;
}
.table-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 10px;
  box-shadow: 0 1px 1px #847e84;
  background-color: white;
}
.table-line{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.col-sm-1{
  padding: 0 5px;
}
.row{
  margin: 0;
  align-items: center;
  margin: 15px;
  font-size: 1.2rem;
}
.condition {
  padding: 10px;
  background-color: white;
  border: 1px solid #b3adb3;
}
.btn{
  margin: 0 5px;
}
.btn-success{
  margin-right: 30px;
}

.table {
  padding: 0 0 30px 0;
  margin: 20px 0 0 0;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: white;
}
