<header>
  <span class="title"><span>萝卜多后台管理系统</span></span>
  <div class="status">
    <span>管理员 </span>
    <span> admin</span>
    <img src="" alt="">
  </div>
</header>
<main>
  <aside>
    <div (click)="collapse(0)" [ngClass]="toggles[0]">信息管理</div>
    <ul *ngIf="displays[0]">
      <li routerLink="/corpList" routerLinkActive="active">公司列表</li>
      <li routerLink="/jobList" routerLinkActive="active">职位管理</li>
    </ul>
    <div (click)="collapse(1)" [ngClass]="toggles[1]">Article管理</div>
    <ul *ngIf="displays[1]">
      <li routerLink="/articleList" routerLinkActive="active">Article列表</li>
      <li>文章管理</li>
      <li>文章管理</li>
    </ul>
    <div (click)="collapse(2)" [ngClass]="toggles[2]">用户管理</div>
    <ul *ngIf="displays[2]">
      <li>用户列表</li>
    </ul>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>

