.unit{
  float: left;
  width: 31%;
  padding-bottom: 30%;
  margin: 0.5%;
  border-radius: 5%;
  background-color: #ffa600;
}
.myrow{

}
.myrow::after{
  content: "";
  clear: both;
  display: block;
}
body{
  margin: 0;
}