<div class="table" ng-controller="articleCtrl">
  <div class="result-title">
    <span>新增Article</span>
  </div>
  <div class="table-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <strong>
            <label>标题名称</label>
          </strong>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <strong>
            <label>类&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp型</label>
          </strong>
        </div>
        <div class="col-sm-8">
          <select name="" id="" ng-model="selectedType" ng-options="item | typeFilter for item in type" class="form-control">
            <option value="">请选择</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <strong>
            <label>说&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp明</label>
          </strong>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <strong>
            <label>跳转链接</label>
          </strong>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <strong>
            <label>配&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp图</label>
          </strong>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-primary">选择文件</button>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-2">
            <strong>
              <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            </strong>
          </div>
          <div class="col-sm-8">
            <img src="" alt="配图预览">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
              <strong>
                <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
              </strong>
            </div>
            <div class="col-sm-7">
              <div class="row" style="margin: 0;padding: 10px 0;border-bottom: 2px solid #ccc">
                <div class="col-sm-1"></div>
                <div class="col-sm-2" style="padding: 0 5px"><strong>图片名</strong></div>
                <div class="col-sm-2" style="padding: 0 5px"><strong>文件大小</strong></div>
                <div class="col-sm-2" style="padding: 0 5px"><strong>进度</strong></div>
                <div class="col-sm-2" style="padding: 0 5px"><strong>操作</strong></div>
                <div class="col-sm-2" style="padding: 0 5px"><strong>操作</strong></div>
                <div class="col-sm-1"></div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>